* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.App {
  background: #f1eff5;
  height: 100vh;
  overflow: auto;
}

.container {
  max-width: 800px;
  margin: auto;
}

.titulo-principal {
  text-align: center;
  color: #68a9df;
  font-size: 42px;
  padding: 40px 0;
}